<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Elektronski dnevnik - Prijava</title>
    </h:head>
    <h:body>
        <h2>Elektronski dnevnik - Prijava</h2>
        <hr />
        
        <h:form>
        <h:panelGrid id = "panel" columns = "3" cellpadding = "10" cellspacing = "1">
                <h:outputLabel value = "Korisničko ime:" />
                <h:inputText id="korIme" required="true" requiredMessage="Polje je obavezno!" value="" />
                <h:message for="korIme" />
                
                <h:outputLabel value = "Lozinka:" />
                <h:inputSecret id="lozinka" required="true" requiredMessage="Polje je obavezno!" value="" />
                <h:message for="lozinka" />
                
                <h:selectOneRadio id="radio" required="true" requiredMessage="Prijavljujete se kao?" value="#{userController.ulogovaniKorisnik}">
                    <f:selectItem itemLabel="Ucitelj" itemValue="ucitelj"/>
                    <f:selectItem itemLabel="Roditelj" itemValue="roditelj"/>
                    <f:selectItem itemLabel="Ostali" itemValue="ostali"/> 
                </h:selectOneRadio>
                <h:message for="radio" />
                
                <f:facet name = "footer">
                    <h:panelGroup style = "display:block; text-align:left">
                        <h:commandButton id = "prijaviSe" value = "Prijavi se" action="#{userController.ispis()}" />
                    </h:panelGroup>
                </f:facet>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

